In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random


rows=20000
data={
    "profession":np.random.choice(["principal","HR","engineer"],size=rows),
    "attendance":np.random.randint(1,30, size=rows),
    "gender":np.random.choice(['Male','Female'],size=rows),
    "payment_status":np.random.choice(['paid',"unpaid"],size=rows)
    
}
df=pd.DataFrame(data)
df.head()

  profession  attendance  gender payment_status
0   engineer           9  Female           paid
1   engineer           6  Female           paid
2  principal           5  Female           paid
3         HR           3  Female           paid
4  principal          13  Female           paid

In [6]:
df.hist(figsize=(10,10), bins=20,rwidth=0.8)
plt.suptitle("HR")
plt.show()

NameError: name 'df' is not defined